$navtopH: 80px; //Высота нава верхнего
$fieldDarkColor: #292b2c; //Цвет темной темы фона поля
$LED: #44bd32; //Цвет боковой подсветки

//style1
$s1Width:150px;
$s2Height:100px;

//style2
$s2Width:100px;
$s2Height:100px;
$eggRadius:63%, 37%, 58%, 42%, 58%, 31%, 69%, 42% ;

//sorting
$sortingCardWidth:100px;
$sortingCardHeight:100px;
$cardInRow:4;