@import 'variables';
@import 'extends';


.sortingField{
    cursor: pointer;
    width: 100%;
    height: calc(100vh - #{$navtopH} - 40px);   //40 - padding

    &:hover {
        @extend %randomMusicBar;
    }
}
.bar{
    float: left;
    border: 1px solid black;
}
.dark .bar{
    border: 1px solid white;
}
.musicBar{
    //height: 50%;
    transition: 2.5s;
}
@for $i from 1 through 100 {
    .musicBar[id='el#{$i}']{
        height: ((random($limit: (90))+10)*1%);
        background-color: rgb(random($limit:(255)), random($limit:(255)), random($limit:(255)));
    }
}

