
$bWidht:150px;
$bHeight:100px;

.buttonStyle1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: $bWidht;
    height: $bHeight;
    transition: 0.5s;
    div{
        position: absolute;
        width: 100%;        
        height: 100%;
    }
    .span_style1{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        user-select: none;
    }
    &:hover{
        box-shadow:inset 0 0 5px 5px black;
    }
    &:hover .rect_style1{
        stroke-dasharray: ($bHeight*2 + $bWidht*2) 0;        
        cursor: pointer;
    }
}
.span_style1:hover .rect_style1{
    stroke-dasharray: ($bHeight*2 + $bWidht*2) 0;        
    cursor: pointer;
}
.svg_style1,.rect_style1{
    position: absolute;
    width: 100%;
    height: 100%;
}
.rect_style1{
    //fill: transparent;
    //stroke: rgba(153, 25, 153, 0.952);
    stroke-width: 10px;
    stroke-dasharray: ($bHeight/2) ($bWidht*2+$bHeight+$bHeight/2);
    stroke-dashoffset: ($bHeight/4);
    transition: .5s;
    
}
.dark{
    .rect_style1{
        stroke: rgba(46, 170, 35, 0.952);
    }
    .buttonStyle1:hover{
        box-shadow:inset 0 0 5px 5px rgb(255, 255, 255);
    }
}

