@import 'extends';
@import 'variables';


.buttonStyle1{
    @include componentCenter(relative,$s1Width,$s2Height);

    div{
        position: absolute;
        width: 100%;        
        height: 100%;
    }
    .span_style1{
        @include componentCenter(absolute);

        cursor: pointer;
        user-select: none;
    }
    &:hover{
        box-shadow:inset 0 0 5px 5px black;
    }
    &:hover .rect_style1{
        stroke-dasharray: ($s2Height*2 + $s1Width*2) 0;        
        cursor: pointer;
    }
}
.span_style1:hover .rect_style1{
    stroke-dasharray: ($s2Height*2 + $s1Width*2) 0;        
    cursor: pointer;
}
.svg_style1,.rect_style1{
    position: absolute;
    width: 100%;
    height: 100%;
}
.rect_style1{ 
    stroke-width: 10px;
    stroke-dasharray: ($s2Height/2) ($s1Width*2+$s2Height+$s2Height/2);
    stroke-dashoffset: ($s2Height/4);
    transition: .5s;
    
}
.dark{
    .rect_style1{
        stroke: rgba(46, 170, 35, 0.952);
    }
    .buttonStyle1:hover{
        box-shadow:inset 0 0 5px 5px rgb(255, 255, 255);
    }
}

